<template name="signUp">

    <form class="main form page">

    <div class="form-group">
      <label class="control-label" for="givenName">First Name</label>
      <div class="controls">
          <input name="givenName" id="emailAddress" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="surname">Last Name</label>
      <div class="controls">
          <input name="surname" id="surname" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="emailAddress">Email</label>
      <div class="controls">
          <input name="emailAddress" id="emailAddress" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="passowrd">Password</label>
      <div class="controls">
          <input name="password" id="password" type="password" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="age">Age</label>
      <div class="controls">
          <input name="age" id="age" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <input type="submit" value="Sign up" class="btn btn-primary"/>
  </form>

</template>
